.jumbotron.jumbotron-lg.text-center
  %h1 Edukasyon Proto-Type
  %p Find the right course for you offered by world leading professionals!
  = render '/shared/search_form', path: courses_path, type: 'Course'
