<h1>New Student</h1>

<%= render '/admin/students/form', student: @student, path: students_path %>

<% if current_user %>
  <%= link_to 'Back', student_path(current_user) %>
<% else %>
  <%= link_to 'Back', login_path %>
<% end %>
