<h1>Teachers</h1>

<%= render '/shared/search_form',
  path: teachers_path,
  type: 'Teacher' %>

<ul>
  <% @teachers.each do |teacher| %>
    <li><%= link_to teacher.full_name, teacher_path(teacher.id) %></li>
  <% end %>
</ul>

<br>

<%= link_to 'Back', root_path %>
